{% extends 'base.html' %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Pagos</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">            
            <!-- <a href=" {% url 'create_pagos'  %} " class="btn btn-primary btn-icon-split mb-3">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Crear pago</span>
            </a> -->
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>
                        <th>Fecha</th>
                        <th>Metodo pago</th>
                        <th>Valor</th>
                        <th>Reserva</th>
                        <th>Estado</th>
                        <th>Acciones</th>                        
                    </tr>
                </thead>                
                <tbody>
                    {% for pago in pagos_list %}
                    <tr>
                    <td>{{ pago.fecha }}</td>
                    <td>{{ pago.metodo_pago }}</td>
                    <td>{{ pago.valor }}</td>
                    <td>{{ pago.reserva.id }}</td>
                    
                    <!-- Toggle Switch button -->
                    <td>
                        <form action="{% url 'pago_status' pago.id %}" method="POST">
                            
                            {% csrf_token %}                            
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch{{ forloop.counter }}" {% if pago.estado %} checked {% endif %} onchange="this.form.submit()">
                                <label class="custom-control-label" for="customSwitch{{ forloop.counter }}"></label>
                            </div>                     
                        </form>
                    </td>
                    <td>
                        <a href="" class="btn btn-info btn-circle btn-sm" data-bs-toggle="modal" data-bs-target="#modalId" data-pago-id="{{ pago.id }}">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <!-- <a href="{% url 'pago_reserva' pago.id %}" class="btn btn-warning btn-circle btn-sm">
                            <i class="fas fa-edit"></i> -->
                        </a>
                        <!--<a href="{% url 'delete_pago' pago.id %}" class="deleteBtn btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-trash"></i>  -->
                        </a>
                        <a href="{% url 'pagos_pdf' pk=pago.reserva.pk %}" class="btn btn-danger btn-circle btn-sm">
                            <span>PDF</span>
                        </a>
                    </tr>
                    {% endfor %}                                     
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog" role="fecha">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Detalles del Pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="pago-details"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<script>
// Función para cargar detalles del pago en el modal
function loadPagoDetails(pagoId) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "{% url 'detail_pago' 0 %}".replace('0', pagoId), true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    var data = JSON.parse(xhr.responseText);
                    console.log(data);
                    // Actualizar el contenido del modal con los detalles del pago
                    document.getElementById("pago-details").innerHTML =
                        "<p><strong>Fecha:</strong> " + data.fecha + "</p>" +
                        "<p><strong>Valor:</strong> " + data.valor + "</p>" +
                        "<p><strong>Metodo de pago:</strong> " + data.metodo_pago + "</p>";                
                    $('#modalId').modal('show'); // Mover esta línea aquí
                } else {
                    console.error('Error fetching pago details. Status code: ' + xhr.status);
                }
            }
        };
        xhr.send();
    }

    // Asignar evento click a los botones de detalle del pago
    document.addEventListener("click", function (event) {
        if (event.target && event.target.dataset.pagoId) {
            event.stopPropagation();
            var pagoId = event.target.dataset.pagoId;
            loadPagoDetails(pagoId);
        }
    });

</script>
<!-- Alerta eliminar registro Cliente -->
<script>
    document.querySelectorAll('.deleteBtn').forEach(function(deleteBtn) {
    deleteBtn.addEventListener('click', function (event) {
        event.preventDefault(); 

        swal({
            title: "Estás seguro que deseas eliminar?",            
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {                
                window.location.href = this.getAttribute('href');              
            }
        });
    });
});
</script>

{% if messages %}
    {% for message in messages %}
        <script>
            swal({                
                text: "{{ message }}",
                icon: "{{ message.tags }}",
                button: "OK",
            });
        </script>
    {% endfor %}
{% endif %}


{%endblock%} 