{% extends 'base.html' %}

{% block title %}Glamping_Gold{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Detalle reserva</h4>
    </div>
        <div class="card-body">
        <div class="d-flex">
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Código reserva</label>
                <input type="text" class="form-control" value="{{reserva.id}}" readonly />
            </div>
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Fecha reserva</label>
                <input type="text" class="form-control" value='{{reserva.fecha_reserva|date:"d/m/Y"}}' readonly />
            </div>
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Documento Cliente</label>
                <input type="text" class="form-control" value="{{reserva.cliente.documento}}" readonly />
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Nombre Cliente</label>
                <input type="text" class="form-control" value="{{reserva.cliente.nombre}}" readonly />
            </div>
        </div>
        <div class="d-flex">
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Fecha inicio</label>
                <input type="text" class="form-control" value='{{reserva.fecha_inicio|date:"d/m/Y"}}' readonly />
            </div>
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Fecha fin</label>
                <input type="text" class="form-control" value='{{reserva.fecha_fin|date:"d/m/Y"}}' readonly />
            </div>
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Valor</label>
                <input type="text" class="form-control" value="{{reserva.precio}}" readonly />
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Estado</label>
                <input type="text" class="form-control" value="{{reserva.estado}}" readonly />
            </div>
        </div>
        <div class="table-responsive">
            <h5 class="text-primary font-weight-bold mt-4">Cabañas reservadas</h5>
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>
                        <th>Imagen</th>
                        <th>Código</th>
                        <th>Título</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reserva_cabañas %}
                    <tr>
                        <td><img src="{{ reserva.id_cabaña.imagen.url }}" alt="" width="50"></td>
                        <td>{{ reserva.id_cabaña.id }}</td>
                        <td>{{ reserva.id_cabaña.nombre }}</td>                                               
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
        <div class="table-responsive">
            <h5 class="text-primary font-weight-bold mt-4">Servicios reservados</h5>
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>
                        <th>Imagen</th>
                        <th>Código servicio</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for servicio in reserva_servicios %}
                    <tr>
                        <td><img src="{{ servicio.id_servicio.imagen.url }}" alt="" width="50"></td>
                        <td>{{ servicio.id_servicio.id }}</td>
                        <td>{{ servicio.id_servicio.nombre }}</td>
                        <td>{{ servicio.id_servicio.descripcion }}</td>
                        <td>{{ servicio.id_servicio.precio }}</td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
        <div class="table-responsive">
            <h5 class="text-primary font-weight-bold mt-4">Pagos realizados</h5>
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>                        
                        <th>Código servicio</th>
                        <th>Fecha</th>
                        <th>Método</th>
                        <th>Valor</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pago in pagos %}
                    <tr>
                        <td>{{ pago.id }}</td>
                        <td>{{ pago.fecha|date:"d/m/Y" }}</td>
                        <td>{{ pago.metodo_pago }}</td>
                        <td>{{ pago.valor }}</td>
                        <td>{{ pago.estado }}</td>                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}