{% extends 'base.html' %}

{% block nombre %}Glamping_Gold{% endblock %}

{% block content %}
<div class="card shadow mb-4 p-4 ">
    <div class="card-header py-3 mb-3">
        <h4 class="m-0 font-weight-bold text-primary">Reserva de cabañas y servicios</h4>
    </div>
    aaaaaaaa
    <form action="" method="post" >
        {% csrf_token %}
        <div class="d-flex">
            <div class="mb-3">
                <label for="" class="form-label">Fecha inicio</label>
                <input type="date" class="form-control" name="fecha_inicio" id="fecha_inicio" aria-describedby="helpId"
                    placeholder="Ingresa una fecha de inicio">
                <small id="helpId" class="form-text text-muted"></small>
            </div>
            <div class="mb-3 mx-4">
                <label for="" class="form-label">Fecha final</label>
                <input type="date" class="form-control" name="fecha_fin" id="fecha_fin" aria-describedby="helpId"
                    placeholder="Ingresa una fecha de inicio">
                <small id="helpId" class="form-text text-muted"></small>
            </div>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">cliente</label>
            <select class="form-control" name="cliente" id="">
                <option value="">Selecciona un cliente</option>
                {% for cliente in cliente_list %}
                <option value="{{cliente.id}}">{{cliente.nombre}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Cabaña</label>
            <div class="d-flex">
                <select class="form-control" name="cabaña" id="">
                    <option value="">Selecciona una cabaña</option>
                    {% for cabaña in cabañas_list %}
                    <option value="{{cabaña.id}}">{{cabaña.nombre}} - {{cabaña.precio}}</option>
                    {% endfor %}
                </select>
                <a href="" onclick="addcabaña(event)" class="btn btn-primary btn-icon-split mb-3">
                    <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                </a>
            </div>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Servicio</label>
            <div class="d-flex">
                <select class="form-control" name="servicio" id="">
                    <option value="">Selecciona un servicio</option>
                    {% for servicio in servicios_list %}
                    <option value="{{servicio.id}}">{{servicio.nombre}} - {{servicio.precio}}</option>
                    {% endfor %}
                </select>
                <a onclick="addservicio(event)" href="" class="btn btn-primary btn-icon-split mb-3">
                    <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                </a>
            </div>
        </div>
        <div class="card-header py-3 mb-3">
            <h4 class="m-0 font-weight-bold text-primary">Detalle reserva de cabañas y servicios</h4>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="treservas">
                </tbody>
                <thead>
                    <tr>
                        <th>Total:</th>
                        <th scope="col"><input class="text-success font-weight-bold" style="border: none;" type="text" name="totalValue" id="totalValue" readonly></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Enviar</button>

        </div>
    </form>
</div>

<script>
    cabañas_added = [];
    servicios_added = [];
    let total = 0;
    function addcabaña(event) {
     
        event.preventDefault();
        let cabañaSelect = $('select[name="cabaña"]');
        let cabañaId = cabañaSelect.val();
        let cabañanombre = cabañaSelect.find('option:selected').text().split(' - ')[0];
        let cabañaprecio = parseFloat(cabañaSelect.find('option:selected').text().split(' - ')[1]);
        cabañas_added.push(cabañaId);
        totalreserva(cabañaprecio);
        $('#treservas').append(`
            <tr id=${cabañaId}>                               
                <td>
                    <input type="hidden" name="cabañaId[]" value="${cabañaId}">
                    <input type="hidden" name="cabañaprecio[]" value="${cabañaprecio}">
                    <input type="hidden" name="cabañanombre[]" value="${cabañanombre}">
                    ${cabañanombre}
                </td>
                <td>${cabañaprecio}</td>                
                <td>
                    <a onclick='removeReserva(event, "cabaña")' class="btn btn-danger btn-circle btn-sm">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        `);
    }

    function addservicio(event) {
        event.preventDefault();
        let servicioSelect = $('select[name="servicio"]');
        let servicioId = servicioSelect.val();
        let servicionombre = servicioSelect.find('option:selected').text().split(' - ')[0];
        let servicioprecio = parseFloat(servicioSelect.find('option:selected').text().split(' - ')[1]);
        servicios_added.push(servicioId);
        totalreserva(servicioprecio);

        $('#treservas').append(`
            <tr id="${servicioId}">                                
                <td>
                    <input type="hidden" name="servicioId[]" value="${servicioId}">
                    <input type="hidden" name="servicioPrecio[]" value="${servicioprecio}">
                    ${servicionombre}
                </td>
                <td>${servicioprecio}</td>                
                <td>
                    <a onclick='removeReserva(event, "servicio")' class="btn btn-danger btn-circle btn-sm">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        `);
    }

    function totalreserva(value) {
        total += value;
        document.getElementById('totalValue').value = total;
    }

    function removeReserva(event, type) {
        event.preventDefault();        
        let element = event.target.parentElement.parentElement.parentElement;
        let id = element.id;          
        if (type == 'cabaña') {
            cabañas_added = cabañas_added.filter(cabaña => cabaña != id);
        } else {
            servicios_added = servicios_added.filter(servicio => servicio != id);
        }
        element.remove();
        let valor = parseFloat(element.children[1].textContent);        
        total -= valor;
        document.getElementById('totalValue').value = total;
    }
</script>


{% endblock %}