{% extends 'base.html' %}

{% block title %}Glamping_Gold{% endblock %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Reservas</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <a href="{% url 'create_reserva' %}" class="btn btn-primary btn-icon-split mb-3">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Crear reserva</span>
            </a>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>                        
                        <th>Código reserva</th>
                        <th>Fecha reserva</th>
                        <th>Documento Cliente</th>
                        <th>Nombre Cliente</th> 
                        <th>Valor</th>                      
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas_list %}
                    <tr>                        
                        <td>{{ reserva.id }}</td>                        
                        <td>{{ reserva.fecha_reserva|date:"d/m/Y" }}</td>                  
                        <td>{{ reserva.cliente.documento}}</td>
                        <td>{{ reserva.cliente}}</td>                        
                        <td>{{ reserva.valor }}</td>
                        <td>{{ reserva.estado }}</td>
                        <td>                         
                            <a href="{% url 'detail_reserva' reserva.id %}" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-info-circle"></i></a>
                            <a href="{% url 'edit_reserva' reserva.id %}" class="btn btn-warning btn-circle btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{% url 'cancel_reserva' reserva.id %}" class="btn btn-danger btn-circle btn-sm deleteBtn">
                                <i class="fas fa-times"></i>
                            </a>
                            <a href="{% url 'Pdfview' reserva.id %}" class="btn btn-danger btn-circle btn-sm">
                                <span>PDF</span>
                            <a href="{% url 'pago_reserva' reserva.id %}" class="btn btn-success btn-circle btn-sm">
                                <i class="fa fa-money"></i>

                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('.cancelBtn').forEach(function(cancelBtn) {
        cancelBtn.addEventListener('click', function (event) {
            event.preventDefault(); 

            swal({
                title: "¿Estás seguro que deseas cancelar la reserva?",            
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willCancel) => {
                if (willCancel) {                
                    setTimeout(function() {
                        window.location.href = cancelBtn.getAttribute('href');
                    }, 2000); // 2000 milliseconds = 2 seconds
                }
            })
            .then(() => {
                // Mostrar un segundo mensaje de éxito después de la redirección
                swal("¡Reserva cancelada con éxito!", {
                    icon: "success",
                });
            });
        });
    });
</script>



{% endblock %}