{% extends 'base.html' %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Clientes</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">            
            <a href="{% url 'create_cliente' %}" class="btn btn-primary btn-icon-split mb-3">
                <span class="icon text-white-50">
                  <i class="fas fa-plus"></i>
              </span>
              <span class="text">Crear cliente</span>
            </a>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Documento</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Nacionalidad</th>
                        <th>Estado</th>
                        <th>Acciones</th>                        
                    </tr>
                </thead>                
                <tbody>
                    {% for cliente in cliente_list %}
                    <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.documento }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.telefone }}</td>
                    <td>{{ cliente.nacionalidad }}</td>
                    <!-- Toggle Switch button -->
                    <td>
                        <form action="{% url 'cliente_status' cliente.id %}" method="POST">
                            {% csrf_token %}                            
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch{{ forloop.counter }}" {% if cliente.status %} checked {% endif %} onchange="this.form.submit()">
                                <label class="custom-control-label" for="customSwitch{{ forloop.counter }}"></label>
                            </div>                     
                        </form>
                    </td>
                    <td>
                        <a href="" class="btn btn-info btn-circle btn-sm" data-bs-toggle="modal" data-bs-target="#modalId" data-cliente-id="{{ cliente.id }}">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a href="{% url 'edit_cliente' cliente.id %}" class="btn btn-warning btn-circle btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'delete_cliente' cliente.id %}" class="deleteBtn btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                    </tr>
                    {% endfor %}                                     
                </tbody>
            </table>
        </div>
    </div>
</div>





<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Detalles del Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="cliente-details"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<script>
// Función para cargar detalles del cliente en el modal
function loadClienteDetails(clienteId) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "{% url 'detail_cliente' 0 %}".replace('0', clienteId), true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    var data = JSON.parse(xhr.responseText);
                    console.log(data);

                    // Actualizar el contenido del modal con los detalles

                    // Actualizar el contenido del modal con los detalles del cliente

                    document.getElementById("cliente-details").innerHTML =
                        "<p><strong>Nombre:</strong> " + data.nombre + "</p>" +  
                        "<p><strong>Documento:</strong> " + data.documento + "</p>" + 
                        "<p><strong>Email:</strong> " + data.email+ "</p>" + 
                        "<p><strong>Telefono:</strong> " + data.telefone + "</p>" +  
                        "<p><strong>Nacionalidad:</strong> " + data.nacionalidad + "</p>";             
                    $('#modalId').modal('show'); // Mover esta línea aquí
                } else {
                    console.error('Error fetching cliente details. Status code: ' + xhr.status);
                }
            }
        };
        xhr.send();
    }


    // Asignar evento click a los botones 

    // Asignar evento click a los botones de detalle del pago

    document.addEventListener("click", function (event) {
        if (event.target && event.target.dataset.clienteId) {
            event.stopPropagation();
            var clienteId = event.target.dataset.clienteId;
            loadClienteDetails(clienteId);
        }
    });

</script>

<!-- Alerta eliminar registro Cliente -->
<script>
    document.querySelectorAll('.deleteBtn').forEach(function(deleteBtn) {
    deleteBtn.addEventListener('click', function (event) {
        event.preventDefault(); 

        swal({
            title: "¿Estás seguro que deseas eliminar el cliente?",            
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {                
                window.location.href = this.getAttribute('href');              
            }
        });
    });
});
</script>

{% if messages %}
    {% for message in messages %}
        <script>
            swal({                
                text: "{{ message }}",
                icon: "{{ message.tags }}",
                button: "OK",
            });
        </script>
    {% endfor %}
{% endif %}

{%endblock%}