.container{
    max-width: 1100px;

}

.nav {
    color: white;
    display: contents;
    

}

header {
    background-image: url('images/cabañalanding.jpg');
    background-size: cover;
    height: 550px;


}

.title {
    color: rgb(255, 255, 255);
    font-size: 35px;
    position: absolute;
    top: 50%;    
    background-color: #0000007c;
    border-radius: 3%;

}

.logo{
width: 90px;

}

.btn {
 justify-content: center;

}

