{% load static %}


<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="reserva" content="">

    <title>Glamping Gold</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <link rel="styles" href="{% static 'css/styles.css' %}">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body id="page-top">
    
    <!-- Topbar -->
    <nav class="navbar navbar-expand-lg navbar-info bg-info">
        <a class="navbar-brand text-dark" href="#"><img src="../static/images/logo.png" alt="Gold-soft" height="60">Gold-soft</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item p-1">
                <button class="btn btn-outline-primary text-dark p-2">Registro</button>
            </li>
            <li class="nav-item p-1">
              <a class="text-white btn btn-primary p-2" href="#">Iniciar Sesión</a>
            </li>
          </ul>
        </div>
    </nav>
        

    
    <!-- End of Topbar -->
    {% block content %}

    <div class="container mt-5">
        <div class="row">
            <!-- carrusel -->
            <div class="col-md-8">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="../static/images/cabaña1.jpg" class="d-block w-100" alt="Cabaña 1">
                    </div>
                    <div class="carousel-item">
                      <img src="../static/images/cabana2.avif" class="d-block w-100" alt="Cabaña 2">
                    </div>
                    <div class="carousel-item">
                      <img src="../static/images/Imagen de WhatsApp 2023-12-07 a las 10.23.34_12684b14.jpg" class="d-block w-100" alt="Cabaña 3">
                    </div>
                </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
            </div>
        <div class="col-md-4">
            <div class="bg-info text-light p-3">
              <h2 class="text-black">¡Bienvenido a Glamping-gold!</h2>
              <p>Descubre la serenidad de la naturaleza y el confort de nuestras diversas cabañas en Gold-soft. Desde acogedores refugios hasta lujosas villas, ofrecemos alojamientos para todos los gustos. Nuestros servicios personalizados garantizan una estancia inolvidable. Bienvenido a un oasis de calma y comodidad donde tus sueños de escapada se hacen realidad.</p>
            </div>
          </div>
        </div>
    </div>
      


    <div class="row mt-5">
        <div class="col-md-4">
          <div class="card">
            <img src="../static/images/Imagen de WhatsApp 2023-12-07 a las 10.23.34_12684b14.jpg" class="card-img-top" alt="Cabaña 1">
            <div class="card-body">
              <h5 class="card-title">Cabaña 1</h5>
              <p class="card-text">Descripción breve de la cabaña.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="../static/images/cabana2.avif" class="card-img-top" alt="Cabaña 2">
            <div class="card-body">
              <h5 class="card-title">Cabaña 2</h5>
              <p class="card-text">Descripción breve de la cabaña</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="../static/images/cabaña1.jpg" class="card-img-top" alt="Cabaña 3">
            <div class="card-body">
              <h5 class="card-title">Cabaña 3</h5>
              <p class="card-text">Descripción breve de la cabaña</p>
            </div>
          </div>
        </div>
      </div>
    </div>
                
                {% endblock %}
                


    <!-- Bootstrap core JavaScript  --> 
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

</html>