{% extends 'base.html' %}

{% block title %}Glamping Gold{% endblock %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Pago reserva</h1>    
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Pago reserva</h4>
    </div>
    <div class="card-body">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="d-flex mb-3">
                <label for="" class="form-label mr-3">Total reserva</label>
                <input type="text" class="form-control col-3 mx-3" name="reserva_total" id="reserva_total" value="{{ reserva.precio }}" readonly />
                <label for="" class="form-label mx-3">Total pagos</label>
                <input type="text" class="form-control col-3" name="pago_reserva" id="pago_reserva" value="{{ total_pagos}}" readonly />
                <input type="hidden" name="total_pagos" value="{{ total_pagos }}" />
            </div>
            <div class="mb-3 d-flex">
                <label for="" class="form-label">Método de pago</label>
                <select
                    class="form-control mx-2 col-3"
                    name="metodo_pago" 
                    id="method">
                    <option selected>Select una opción</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta Crédito">Tarjeta Crédito</option>
                    <option value="Tarjeta Débito">Tarjeta Débito</option>
                    <option value="Transferencia">Transferencia</option>
                </select>
            
                <label for="" class="form-label ml-4">Abono</label>
                <input
                    type="text" class="form-control col-3 mx-5" name="valor" id="valor" aria-describedby="helpId" placeholder="" />
            </div>
            
            <button type="submit" class="btn btn-primary">Pagar</button>
        </form>
    </div>
</div>


<script>
    let reserva_total = document.getElementById('reserva_total').value;
    let pago_reserva = document.getElementById('pago_reserva').value;
    let valor = reserva_total / 2;
    if (reserva_total != pago_reserva) {
        document.getElementById('valor').value = valor;        
    }
    
</script>
{% endblock %}
