<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprobante de Pago</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row ml-5 mr-5">
            <div class="py-2 ml-5 mr-5">
                <div class="ml-5 mr-5">
                    <div class="bg-primary text-white ml-5 mr-5 rounded card-body text-center">
                        <h3 class="">Comprobante de Pago</h3>
                    </div>
                </div>
            </div>
        </div>
        {% for pago in pagos %}
        <div class="d-flex justify-content-around">
          <h6>Comprobante Nro: {{ pago.reserva.id }}</h6>
          <h6>Fecha: {{ fecha_actual }}</h6>
          <h6>Hora: {{ hora_actual }}</h6>
        </div>
        <div class="row p-2">
            <div class="col-12">
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <p>Cliente: <strong>{{ pago.reserva.cliente.nombre }}</strong></p>
                        <p>Documento: <strong>{{ pago.reserva.cliente.documento }}</strong></p>
                        <p>Teléfono: <strong>{{ pago.reserva.cliente.telefono }}</strong></p>
                    </div>
                    <div class="col-md-6">
                        <p>Método de Pago: {{ pago.metodo_pago }}</p>
                        <p>Fecha: {{ pago.fecha }}</p>
                        <p class="text-right">Valor: {{ pago.valor }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
